::-webkit-scrollbar{
    width: 0;
}
:root{
    --mint:#2cda7a;
    --lmint: #2af585;
    --dmint: #24b867;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 120ms;
}
::selection{
    background: var(--mint);
}